extends layout

block content 

  .alert.alert-secondary
    h1.alert.alert-secondary.text-center= article.name
  br
  .container
    .alert.alert-info
      .row
        .col-sm
          h4 Предмет #{article.subjectName}
          h4 Тема #{article.themeName}
        .col-sm
          h4 Автор #{article.login}
          h4 Дата: #{article.date}
      br
      .text-center
        img.rounded(width='100%', src='/images/'+article.img, alt='...')
        br
        br
      each tag in tags
        span ##{tag.name}  
      br 
      br
      p #{article.content}
      br
      if session.email==article.login
        .text-center
           a.btn.btn-info(href='/newarticles/'+article.idArticle) Редактировать
    .alert.alert-info
      each comment in comments
        .row
          .col-sm
            h4  #{comment.login}
            h4 #{getReadableDate(comment.date, 1)}
          .col-sm
            p  #{comment.content}
        hr
      form(name="comment", action="/articles/"+article.idArticle, method="get", enctype="application/x-www-form-urlencoded")
          textarea.form-control(name='comment', rows='15', placeholder='Комментарий')
          br
          button.btn.btn-primary(type='submit') Отправить

          
