extends layout

block content
  .alert.alert-secondary
    h1.alert.alert-secondary.text-center= article.name
  br
  .container
    .alert.alert-info
      .row
        .col-sm
          h4 Предмет #{article.subjectName}
          h4 Тема #{article.themeName}
        .col-sm
          h4 Автор #{article.nickname}
          h4 Дата: #{""+(article.date.getDate()<10?"0":"")+article.date.getDate() +"."+(article.date.getMonth()<9?"0":"")+(article.date.getMonth()+1)+"."+(article.date.getFullYear())+" "+article.date.getHours()+":"+article.date.getMinutes()}
      br
      .text-center
        img.rounded(width='100%', src='/images/'+article.img, alt='...')
        br
        br
      each tag in tags
        span ##{tag.name}  
      br 
      br
      p #{article.content}
      br
      if session.email==article.login
        .text-center
           a.btn.btn-info(href='/newarticles/'+article.idArticle) Редактировать
    .alert.alert-info
      each comment in comments
        .row
          .col-sm
            - console.log(comment)
            h4  #{comment.nickname}
            h4 #{""+(comment.date.getDate()<10?"0":"")+comment.date.getDate() +"."+(comment.date.getMonth()<9?"0":"")+(comment.date.getMonth()+1)+"."+(comment.date.getFullYear())+" "+comment.date.getHours()+":"+comment.date.getMinutes()}
          .col-sm
            p  #{comment.content}
        hr
      form(name="comment", action="/articles/"+article.idArticle, method="get", enctype="application/x-www-form-urlencoded")
          textarea.form-control(name='comment', rows='15', placeholder='Комментарий')
          br
          button.btn.btn-primary(type='submit') Отправить

          
