extends layout

block content
  .alert.alert-secondary
    h1= title
  p Блог школы математики и информатики
  .container
    -console.log(query)
  .row
    .col-3
     .alert.alert-info
      h2.text-center Поиск
      br
      form(name="filter", action="/", method="get", enctype="application/x-www-form-urlencoded")
        select#subject.custom-select.mr-sm-2(name="subject", onchange="handleSubject()")
          option(value='') По предмету
          each subject in subjects
            option(value=subject.idSubject, selected=query && query.subject==subject.idSubject) #{subject.name}
        br
        br
        select#theme.custom-select.mr-sm-2(value=query ? query.theme : '', name="theme")
          option(value='') По темам
          if themes 
            each theme in themes
              option(value=theme.idTheme, selected=query && query.theme==theme.idTheme) #{theme.name}
          
        br
        br
        input.form-control(value=query ? query.article : '', name="article", type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-default', placeholder="По статье")

        br
        input.form-control(name="author", type='text', aria-label='Sizing example input', value=query ? query.author : '', aria-describedby='inputGroup-sizing-default', placeholder="По автору")
        br
        button.btn.btn-primary(type='submit') Применить
    .col-9
      .alert.alert-info
        each article in articles
          .card
            .card-body
               h5.card-title #{article.name}
               img.rounded(width='100%', src="images/"+ article.img)
               p.card-text #{article.content}
               a.btn.btn-primary(href='/articles/'+article.idArticle) Подробнее
               br
               br 
               span.oi.oi-thumb-up(id='like'+article.idArticle, class='glyphicon glyphicon-thumbs-up ', style='font-size: 200%; margin-right: 20px;' onclick='handleLike(this, 1,'+article.idArticle+')') #{article.likes || 0}
               span.oi.oi-thumb-down(id='dislike'+article.idArticle, class='glyphicon glyphicon-thumbs-down ', style='font-size: 200%' onclick='handleLike(this, 0,'+article.idArticle+')') #{article.dislikes || 0}
        
          br 
      - var url = 'http://localhost:3000/?subject=' + (query.subject ? query.subject : '') + '&theme='+(query.theme ? query.theme : '') +'&author='+(query.author ? query.author : '')+'&article'+(query.article ? query.article : '')
      - console.log(url)
      ul.pagination.pagination-lg
        each page in pagi.pages
          li.page-item(class = pagi.activePage == page ? 'disabled':'')
            a.page-link(href=url+'&activePage='+page) #{page}
      


  script(type='text/javascript').
   var handleSubject = function(){
    var e = document.getElementById("subject");
    var id = e.options[e.selectedIndex].value;
    $(document).ready(function(){
      $.ajax({url: "/filter", type: "POST", data: {'subject': id}, success: function(themes){
        $('#theme').empty();
        for(var i=0; i<themes.themes.length;i++)
        {
          $('#theme').append("<option value=" + themes.themes[i].idTheme + ">" + themes.themes[i].name + "</option>");
        }
      }});
    });
   }
   
  script(type='text/javascript').
    var handleLike = function(e, like,idArticle){
    
     $(document).ready(function(){
       $.ajax({url: "/like", type: "POST", data: {like: like, idArticle: idArticle}, success: function(res){
        if(res.Status==1){
          e.innerText=  parseInt(e.innerText)+1;
        }
        else if(res.Status==2){
          e.innerText=  parseInt(e.innerText)+1;
          var other = document.getElementById(e.id=='like'+idArticle ? 'dislike'+idArticle : 'like'+idArticle);
          other.innerText=  parseInt(other.innerText)-1;
        }
      
       }});
     });
    }
    
    
    
    
