extends layout

block content
  h1= title
  p Блог школы математики и информатики
  .container
  .row
    .col-3
     .alert.alert-info
      h2.text-center Поиск

      br
      form(name="filter", action="/", method="get", enctype="application/x-www-form-urlencoded")
        select#subject.custom-select.mr-sm-2(name="subject", onchange="handleSubject()")
          option(value='') По предмету
          each subject in subjects
            option(value=subject.idSubject, selected=query && query.subject==subject.idSubject) #{subject.name}

        br
        br
        select#theme.custom-select.mr-sm-2(value=query ? query.theme : '', name="theme")
          option(value='') По темам
        - console.log(session);
        br
        br
        input.form-control(value=query ? query.article : '', name="article", type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-default', placeholder="По статьи")

        br
        input.form-control(name="author", type='text', aria-label='Sizing example input', value=query ? query.author : '', aria-describedby='inputGroup-sizing-default', placeholder="По автору")
        br
        button.btn.btn-primary(type='submit') Применить
    .col-9
      .alert.alert-info
        each article in articles
          .card
            .card-body
               h5.card-title #{article.name}
               p.card-text #{article.content}
               a.btn.btn-primary(href='/articles/'+article.idArticle) Подробнее
          br
    p #{session.email}



  script(type='text/javascript').
   var handleSubject = function(){
    var e = document.getElementById("subject");
    var id = e.options[e.selectedIndex].value;
    $(document).ready(function(){
      $.ajax({url: "/filter", type: "POST", data: {'subject': id}, success: function(themes){
        $('#theme').empty();
        for(var i=0; i<themes.themes.length;i++)
        {
          $('#theme').append("<option value=" + themes.themes[i].idTheme + " selected="+query && query.theme==themes.themes[i].idTheme+">" + themes.themes[i].name + "</p>");
        }
      }});
    });
   }
