extends layout

block content
  h1.text-center  Добавление статьи
  br
  br
  .container
    .alert.alert-info
      if error
        .alert.alert-danger(role='alert') #{error}
      br
      form(name="newarticle", action="/newarticles", method="post", enctype="multipart/form-data")
        select#subject.custom-select.mr-sm-2(name="subject", onchange="handleSubject()")
          option(value='') Выбирите предмет
          each subject in subjects
            option(value=subject.idSubject, selected=query && query.subject==subject.idSubject) #{subject.name}
        br
        br
        select#theme.custom-select.mr-sm-2(value=query ? query.theme : '', name="theme")
          option(value='') Выбирите тему
          if themes 
            each theme in themes
              option(value=theme.idTheme, selected=query && query.theme==theme.idTheme) #{theme.name}
        br
        br
        p Название статьи
        input.form-control(value=query ? query.name : '', name="name", type='text', placeholder='Название статьи', aria-label='Articlename', aria-describedby='addon-wrapping')
  
        br
        p Содержимое
        textarea.form-control(name='content', rows='15', placeholder='Содержание') #{query ? query.content : ''}
        br
        .form-row.align-items-center
          .col-auto
            .input-group.mb-2
              .input-group-prepend
                .input-group-text #
              select.selectpicker(value=query ? query.tag : '', multiple, title='Тэги', name='tag') 
                each tag in tags
                  option(value=tag.idTag, selected=query && query.tag==tag.idTag) #{tag.name}
            
        .custom-file
          input.custom-file-input(type='file', name='img')
          label.custom-file-label(for='customFile') Выбирите картинку...
        br
        br
        button.btn.btn-primary(type='submit') Сохранить
          


  script(type='text/javascript').
   var handleSubject = function(){
    var e = document.getElementById("subject");
    var id = e.options[e.selectedIndex].value;
    $(document).ready(function(){
      $.ajax({url: "/filter", type: "POST", data: {'subject': id}, success: function(themes){
        $('#theme').empty();
        for(var i=0; i<themes.themes.length;i++)
        {
        $('#theme').append("<option value=" + themes.themes[i].idTheme + " >" + themes.themes[i].name + "</p>");
        }
      }});
    });
   }
